
{{#each this}}
<li class="hero__item" data-id='{{id}}'>
   <div class="hero__imagebox vote-average__position">
   <img class="hero__image" src={{poster}} alt="{{title}}" data-src="{{id}}">
   <span class="parameter__value--avg parameter__value parameter__position">{{vote_average}}</span>
   </div>
   <div class="about-box">
   <h2 class="hero__title">{{title}}</h1>
   <div class="hero__descriptionbox">
      <ul class="descriptionbox__list">
         <li class="descriptionbox__item">
            {{#each genres_type}}
               <span class="hero__genres">{{this}}</span>
               <span class="symbol">,</span>
            {{/each}}
         </li>
         <li class="descriptionbox__item">
            <p class="hero__year">{{date}}</p>
         </li>
      </ul>
   </div>
   </div>
</li>
{{/each}}


